body{

    background-image: url(https://download.baps.org/Data/Sites/1/Media/DownloadableFile/Wallpapers/2017/201709_baps_wallpaper_001.jpg);
    background-repeat:no-repeat;
    text-align: center;
    margin-top: 10vmax;

}